# Flutter
.DS_Store
.dart_tool/
.pub/
.pub-cache/
.packages/
build/
flutter_*.png
*.iml
*.ipr
*.iws
.idea/
.svn/
.sass-cache/
*.lock
*.log
*.pyc
*.swp
.vscode/
*.orig
*.class
*.apk
*.aab
*.jar
*.war
*.ear
*.pdb
*.dll
*.so
*.dylib
*.nupkg
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.pid
*.hash
*.pid.lock
*.lock-wal
*.lock-shm
*.db
*.db-journal
*.db-wal
*.db-shm
*.db-journal-wal
*.db-journal-shm

# Android
android/app/debug/
android/app/profile/
android/app/release/
android/app/.gradle/
android/.gradle/
android/local.properties
android/.idea/
android/*.iml
android/*.keystore
android/*.jks
android/key.properties
android/gradle/wrapper/gradle-wrapper.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# MacOS
macos/Pods/
macos/.symlinks/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Runner/GeneratedPluginRegistrant.swift

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/
windows/runner/Release/
windows/runner/Debug/
windows/runner/x64/
windows/runner/GeneratedPluginRegistrant.*

# Web
web/fonts/
web/shaders/

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
firebase.json
.firebase/
*.env
*.env.*